body {
  color: white;
}

.page-wrapper {
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 1 60px;
  background: #111111;
}

.main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  background: #010101;
  position: relative;
}

/*  #FB7200; */
#menu, #score, .welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu {
  /* background: rgba(251, 114, 0, 0.5); */
  background-image: radial-gradient(ellipse, rgba(251, 114, 0, 0.5), black);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 40px;
}

.welcome {
  width: 30%;
}

.welcome > p {
  text-align: center;
}