body {
  color: white;
}

.page-wrapper {
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 1 60px;
  background: #111111;
}

.main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  background: #111111;
  position: relative;
}

#menu {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}