body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

canvas {
  /* cursor: none; */
}

.page-wrapper {
  height: 100vh;
  width: 100vw;
  background: url('../galaxy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 1 50px;
  background: rgba(11,11,11,0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  background:  rgba(0,0,0,0.8);
  position: relative;
  border-radius: 5px;
}

/*  #FB7200; */
#menu, #score, .welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu {
  background-image: radial-gradient(ellipse, rgba(255,0,255, 0.2), black);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 40px;
}

#initial-header, #score {
  position: absolute;
  top: 0;
  padding-top: 40px;
}

#initial-header {
  width: 300px;
  position: absolute;
  top:0;
  padding-top: 30px;
}

.welcome {
  min-width: 180px;
  width: 35%;
  background: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 3px;
}

.welcome > h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.welcome > p {
  text-align: center;
  margin: 15px;
  font-size: 12px;
}

#start-button {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 35px;
  border-radius: 3px;
}

#score > h3 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

#score-p {
  font-weight: 700;
  font-size: 48px;
  margin: 10px;
  text-align: center;
  color: #FF00FF;
}

.profile-links {
  width: 80px;
  padding-top: 7px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.profile-links img {
  height: 80%;
  width: auto;
}

.game-name {
  font-size: 22px;
  margin-left: 10px;
}

.mute {
  cursor: pointer;
  font-size: 14px;
}

/* fade effects*/

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
 opacity:0; 
 -webkit-animation:fadeIn ease-in 1; 
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;  
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}
 
.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
 
.fade-out {
 opacity:1;
 -webkit-animation:fadeOut ease-in 1;
 -moz-animation:fadeOut ease-in 1;
 animation:fadeOut ease-in 1;
 
 -webkit-animation-fill-mode:forwards;
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:0.7s;
 -moz-animation-duration:0.7s;
 animation-duration:0.7s;
}

.none {
  display: none !important;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.shown {
  opacity: 1 !important;
  visibility: visible !important;
}

.behind {
  z-index: -100;
}